<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_BookingData</title>

    <link rel="stylesheet" href="../asset/style.css">

    <style>
        td {
            min-width: 23vh;
        }
    </style>
</head>

<body>
    <div class="header">
        <img src="../asset/RentNGo logo.png" class="logo" alt="RentNGo Logo">
        <div>
            <h1>RentNGo</h1>
            <h2>Smart Rentals<br>Smooth Rides</h2>
        </div>
    </div>

    <table id="records" style="width: auto; max-width: 100vw;">
        <thead>
            <td>Customer ID</td>
            <td>Customer Name</td>
            <td> Booking Date</td>
            <td>Pickup Location</td>
            <td>Dropoff Location</td>
            <td>Hours Rented</td>
            <td>Car Rent</td>
            <td>Fuel Cost</td>
            <td>Total Rent</td>
        </thead>
        <tbody></tbody>
    </table>

    <a href="Customer_BookingData.html">
        <button type="button">Customer View</button>
    </a>

    <div style="display: flex; justify-content: center; align-items: center;" >
        <button onclick="">Download Record</button>
    </div>
</body>

</html>