<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_LoyaltyProgramAdd</title>

    <link rel="stylesheet" href="../asset/style.css">
</head>

<body>
    <div class="header">
        <img src="../asset/RentNGo logo.png" class="logo" alt="RentNGo Logo">
        <div>
            <h1>RentNGo</h1>
            <h2>Smart Rentals<br>Smooth Rides</h2>
        </div>
    </div>

    <form action="" onsubmit="return validateScheme(event)">
        <fieldset>
            <legend>Add Loyalty Program</legend>
            <label for="scheme">Reward Scheme:</label>
            <input type="text" id="scheme" class="font-itim" name="scheme" style="border-radius: 10px;"
                placeholder="Enter Reward Scheme"> <br> <br>
            <label for="required">Points Required:</label>
            <input type="number" id="required" class="font-itim" name="required"
                style="border-radius: 10px; width: auto;" placeholder="Required Points"> <br> <br>
            <label for="required">Amentities Type:</label>
            <select id="dropoff" name="dropoff_location">
                <option value="">Choose type</option>
                <option value="rentPercent">Rent Discount (%)</option>
                <option value="rentTk">Rent Discount (tk)</option>
            </select> <br> <br>
            <input type="submit" name="submit" value="Add">
        </fieldset>
    </form> 

    <a href="Customer_LoyaltyProgram.html">
        <button type="button">Customer View</button>
    </a>
    <a href="Admin_LoyaltyProgram.html">
        <button type="button">Admin View</button>
    </a>

    <script src="../asset/loyaltyProgram.js"></script>
</body>

</html>