<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer_CarComparison</title>

    <link rel="stylesheet" href="../asset/style_F.css">
</head>
<body>
    <div class="header">
        <img src="../asset/RentNGo logo.png" class="logo" alt="RentNGo Logo">
        <div>
            <h1>RentNGo</h1>
            <h2>Smart Rentals<br>Smooth Rides</h2>
        </div>
    </div>

    <button style="margin-left: 90vw; margin-top: 2vh;" onclick="return addCar()">Add a Car</button>

    <script src="../asset/carComparison_F.js"></script>
</body>
</html>