<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    <link rel="stylesheet" href="../asset/style_N.css">
</head>

<body>
    <header class="inventory">
        <nav class="iNav">
            <span>
                <input type="text" id="search" style="margin-left: 70vw;">
                <button id="searchBtn">Search</button>
            </span>
        </nav>
    </header>
    <div class="slider">
        <h1 class="menue">Menu</h1>
        <ul>
            <li><a href="homePage_N.html" class="home">Home</a></li>
            <li><a href="#" class="contact">Contact</a></li>
            <li><a href="customerProfile_N.html" class="profile">Your Profile</a></li>
            <li><a href="#" class="settings">Settings</a></li>
        </ul>

        <button id="lgoutBtn">Logout</button>  
    </div>

    <div id="confirmBox">
        <div id="confirmCard">
            <p>Do you want to log out?</p>
            <button type="submit" id="okBtn" class="okButn">Yes</button>
            <button type="button" id="cnclBtn" class="cnclButn">No</button>
        </div>
    </div>

    <script src="../controller/logout_N.js"></script>
    <footer class="footer">
        <p>&copy; 2024 Car Inventory. All rights reserved.</p>
    </footer>

</body>

</html>