<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff_FuelTracking</title>

    <link rel="stylesheet" href="../asset/style_F.css">
</head>

<body>
    <div class="header">
        <img src="../asset/RentNGo logo.png" class="logo" alt="RentNGo Logo">
        <div>
            <h1>RentNGo</h1>
            <h2>Smart Rentals<br>Smooth Rides</h2>
        </div>
    </div>

    <form action="" onsubmit="return validateFuel(event)">
        <fieldset>
            <legend>Fuel Checkout</legend>
            <label for="pickupFuel">Fuel at Pickup:</label>
            <input type="number" id="pickupFuel" class="font-itim" name="pickupFuel" style="border-radius: 10px;"> litres <br> <br>
            <label for="dropoffFuel">Fuel at Dropoff:</label>
            <input type="number" id="dropoffFuel" class="font-itim" name="dropoffFuel" style="border-radius: 10px;"> litres <br> <br>
            <label for="fuelRate">Current Fuel Rate:</label>
            <input type="number" id="fuelRate" class="font-itim" name="fuelRate" style="border-radius: 10px;"> tk/litre <br> <br>
            <label id="refuelCost">Fuel Cost: 0 tk </label> <br> <br>
            <button type="button" style="background-color: red;" onclick="refuel()">Refueled</button>
            <input type="submit" name="submit" value="Submit">
        </fieldset>
    </form> <br> <br>
    <a href="Admin_FuelTracking_F.html">
        <button type="button">Admin View</button>
    </a>

    <script src="../asset/fuelTracking_F.js"></script>
</body>

</html>